/* Style de {{tabla}} */

#cont-servicios .portlet,
#datosCliente,
#recepcion_documentos {
    display: none;
}

.portlet.box.red-thunderbird>.portlet-title,
.portlet.red-thunderbird,
.portlet>.portlet-body.red-thunderbird {
    background-color: #a22126;
}

.portlet.box.red-thunderbird {
    border: 1px solid #a22126;
}

.table tr {
    cursor: pointer;
}